{
    "env": {
        "production": {
            "presets": ["es2015", "react", "stage-1"],
            "ignore": [
                "*.story.js"
            ]
        },
        "development": {
            "presets": ["es2015", "react", "stage-1"],
            "ignore": [
                "*.story.js"
            ]
        },
        "test": {
            "presets": ["es2015", "react", "stage-1"]
        }
    }
}